<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div id="react"></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--
<script type="text/babel">
var Employee = React.createClass({
  render: function() {
    return (<div>employee</div>);
  }
});
var EmployeeTable = React.createClass({
  render: function() {
    return (<div>employee table</div>);
  }
});

ReactDOM.render(
    <EmployeeTable />, document.getElementById('react')
);
</script>-->

<script type="text/babel">
    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                stock: []
            };
        }

        componentDidMount() {
            fetch("http://localhost:8080/api/stock/2")
                .then(data => data.json())
                .then(
                    (data) => {
                        this.setState({
                            stock: data
                        });
                    }
                )
        }

        render() {
            const {stock} = this.state;
            return (
                <div>{stock.map(stock => <Stock key={stock.id} data={{stock}}/>)}</div>
            )
        }
    }

    class Stock extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            const stock = this.props.data.stock;
            return (
                <div>
                    <p>{stock.id}</p>
                    <p>{stock.name}</p>
                    <p>{stock.value}</p>
                    <p>{stock.currency}</p>
                </div>
            )
        }
    }

    ReactDOM.render(
        <App />,
        document.getElementById('react')
    )
</script>

</body>
</html>